<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>new chats</h2>
    <form method="post" action="/chats">
        <input placeholder="from" type="text" name="from">
        <textarea name="message" placeholder="write your message" id=""> </textarea>
        <input placeholder="to" type="text" name="to">
        <button type="submit">Send</button>
    </form>
</body>
</html>